ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

ul li a:hover {
    color: #0073e6;
}
